<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
<!--     
    <h1 class="text-center mt-5">Welcome <%= msg.name %> to home page</h1> -->
    <main>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Car Store</h1>
            <p class="lead text-muted">We want to ensure optimum use of our website for you, and also to continually improve our website. We can also show you user-based content and advertising. We work with selected partners (incl. Google, Facebook, Salesforce). You also receive advertising on other websites through these partners. You can revoke your voluntary consent at any time. You can find further information and setting options under "Settings" and in our data protection information.</p>
            <p>
              <a href="#" class="btn btn-primary my-2">Latest Collection</a>
              <a href="#" class="btn btn-secondary my-2">Services</a>
            </p>
          </div>
        </div>
      </section>
    
      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="https://www.mercedes-benz.co.in/content/india/en/passengercars/models/hatchback/a-class/overview/_jcr_content/root/responsivegrid/tabs_copy_copy_copy__266649805/tabitem/hotspot_module/hotspot_simple_image.component.damq6.3311775173029.jpg/A45-Slide5.jpg" width="100%" height="225"  focusable="false">
    
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="https://www.mercedes-benz.co.in/content/india/en/passengercars/models/hatchback/a-class/overview/_jcr_content/root/responsivegrid/tabs_copy_copy_copy__266649805/tabitem/hotspot_module/hotspot_simple_image.component.damq6.3311775173029.jpg/A45-Slide5.jpg" width="100%" height="225"  focusable="false">
    
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="https://www.mercedes-benz.co.in/content/india/en/passengercars/models/hatchback/a-class/overview/_jcr_content/root/responsivegrid/tabs_copy_copy_copy__266649805/tabitem/hotspot_module/hotspot_simple_image.component.damq6.3311775173029.jpg/A45-Slide5.jpg" width="100%" height="225"  focusable="false">
    
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="https://www.mercedes-benz.co.in/content/india/en/passengercars/models/hatchback/a-class/overview/_jcr_content/root/responsivegrid/tabs_copy_copy_copy__266649805/tabitem/hotspot_module/hotspot_simple_image.component.damq6.3311775173029.jpg/A45-Slide5.jpg" width="100%" height="225"  focusable="false">
    
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="https://www.mercedes-benz.co.in/content/india/en/passengercars/models/hatchback/a-class/overview/_jcr_content/root/responsivegrid/tabs_copy_copy_copy__266649805/tabitem/hotspot_module/hotspot_simple_image.component.damq6.3311775173029.jpg/A45-Slide5.jpg" width="100%" height="225"  focusable="false">
    
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="https://www.mercedes-benz.co.in/content/india/en/passengercars/models/hatchback/a-class/overview/_jcr_content/root/responsivegrid/tabs_copy_copy_copy__266649805/tabitem/hotspot_module/hotspot_simple_image.component.damq6.3311775173029.jpg/A45-Slide5.jpg" width="100%" height="225"  focusable="false">
    
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
           
    
           
          </div>
        </div>
      </div>
    
    </main>
    
  </body>
</html>